
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

html, body {
    height: 100%; 
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #d5e1ef;
    margin: 0;
    min-height: 100vh;
}

.card{
    display: flex; 
    flex-direction: column;
    border: none;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    overflow-wrap: break-word;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 370px; 
    padding: 1.3rem;
    margin: 0 auto; 
    box-sizing: border-box;
}
.img-container{
    margin: auto;
}
img{
    max-width: 320px;
    border-radius: 15px;
}

.description{
    font-size: 1.1rem;
    line-height: 28px;
    color:#6c6e6f;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    position: fixed; 
    left: 0; bottom: 0;
    width: 100%; 
    background-color: #f8f6f6;
    color: rgb(5, 5, 5);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .card{
    margin: 0 auto;
    text-align: center;
    }
}